{
  "Agent": false,
  "AskUserQuestion": false,
  "Bash": false,
  "CronCreate": false,
  "CronDelete": false,
  "CronList": false,
  "Edit": true,
  "EnterPlanMode": false,
  "EnterWorktree": false,
  "ExitPlanMode": false,
  "ExitWorktree": false,
  "Glob": true,
  "Grep": true,
  "ListMcpResourcesTool": false,
  "Monitor": false,
  "NotebookEdit": false,
  "PowerShell": true,
  "PushNotification": false,
  "Read": true,
  "ReadMcpResourceTool": false,
  "RemoteTrigger": false,
  "ScheduleWakeup": false,
  "Skill": false,
  "TaskCreate": false,
  "TaskGet": false,
  "TaskList": false,
  "TaskOutput": false,
  "TaskStop": false,
  "TaskUpdate": false,
  "WaitForMcpServers": false,
  "WebFetch": true,
  "WebSearch": true,
  "Workflow": false,
  "Write": true,
  "web_search": true
}
